<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Découvrez les poneys, les histoires et les astuces pour vivre comme des poneys. Rejoignez la communauté et partagez vos commentaires et expériences.">
    <title>Comment les poneys se font des queues de cheval? - Poney Club</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <a href="index.html">
        <img src="../../img/LogoPoney.jpg" alt="Logo Poney Club">
    </a>
    <p>La vie des Poneys</p>
    <nav>
        <a href="login.html" class="login">Connexion</a>
    </nav>
</header>
<main>
    <article>
        <div class="page">
            <div class="container">
                <img src="../../img/Poney4.png" class="image"
                     alt="Image d'un poney avec ses deux belles queues de cheval">
                <p>
                    Adan, le chef charismatique des poneys, manie les ciseaux avec une habileté magique, créant des
                    queues de cheval dignes de contes enchantés.
                </p>
            </div>
        </div>

        <div class="history">
            <h1>Comment les poneys se font des queues de cheval?</h1>
            <p>
                Dès l'aube, les poneys convergent vers le domaine d'Adan, leur chef respecté et adoré, pour obtenir les
                queues de cheval qui font leur fierté. Adan, un maître dans l'art capillaire équin, commence chaque
                séance en inspectant minutieusement les crinières de ses amis à quatre pattes. Avec des ciseaux transmis
                de génération en génération, il élimine avec précision les nœuds et les mèches rebelles, préparant ainsi
                le terrain pour sa magie.

                Armé de brosses faites de poils de licorne et de rubans tissés à partir de pétales de fleurs rares, Adan
                commence son rituel. Avec une dextérité sans pareille, il peigne, brosse et tresse chaque crinière,
                donnant naissance à des queues de cheval à la fois élégantes et robustes. Chaque mouvement est exécuté
                avec grâce et concentration, alors qu'Adan tisse des motifs complexes dans les crinières, ajoutant une
                touche de magie à chaque nœud.

                Le résultat de ce travail méticuleux ? Des poneys qui rayonnent de confiance et d'élégance, arborant
                fièrement leurs queues de cheval parfaitement stylisées. Les rires et les hennissements de joie
                remplissent l'air alors que les poneys admirent leur nouvelle allure dans les miroirs magiques de la
                clairière. Grâce au talent inégalé d'Adan, ces créatures deviennent les stars indiscutables de la forêt
                enchantée, attirant l'admiration de tous ceux qui croisent leur chemin.
            </p>
        </div>

        <div class="corp">
            <h2 class="right">Corp</h2>
            <table class="right2">
                <thead>
                <tr>
                    <th>Membre</th>
                    <th>Nombre</th>
                    <th>Beauté</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tête</td>
                    <td>1</td>
                    <td>Oui</td>
                </tr>
                <tr>
                    <td>Sabot</td>
                    <td>4</td>
                    <td>Oui</td>
                </tr>
                <tr>
                    <td>Pattes avant</td>
                    <td>2</td>
                    <td>Non</td>
                </tr>
                <tr>
                    <td>Pattes arrière</td>
                    <td>2</td>
                    <td>Oui</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Observez bien!</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>
    <aside class="comments-section" id="comments">
        <h2>Commentaires</h2>
        <div class="comments">
            <article class="comment">
                <h3 class="user">Leo</h3>
                <p class="content">Le chef des poneys à tellement de charisme.</p>
                <p class="date">10 avril 2024</p>
            </article>
            <article class="comment">
                <h3 class="user">Max</h3>
                <p class="content">Je ne suis pas d'accord avec toi.</p>
                <p class="date">11 avril 2024</p>
            </article>
            <article class="comment">
                <h3 class="user">Remi</h3>
                <p class="content">Leo à raison!</p>
                <p class="date">12 avril 2024</p>
            </article>
        </div>
    </aside>
</main>
<footer class="footerpage">
    <p>© Sasha Brun</p>
</footer>
</body>
</html>
