<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez les poneys, les histoires et les astuces pour vivre comme des poneys. Rejoignez la communauté et partagez vos commentaires et expériences.">

    <title>Connexion</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="Login">
        <h1>Connexion</h1>
        <form name="loginForm" action="index.html" method="post">
            <label for="username">Pseudo:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Mot de Passe:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" >Connexion</button>
        </form>
    </div>
</body>
</html>